<div class="container-fluid d-flex flex-column justify-content-start align-items-center">
  <!-- jumbotron start -->

  <div class="jumbotron titleTextContainer m-3 p-3">
    <h1 class="display-4">Hungry?</h1>
    <h3 class="display-4">order food online!</h3>
    <p class="lead">from the best restaurants near you!</p>
  </div>
  <!-- jumbotron end -->

  <!-- form start -->

  <form class="d-flex flex-md-row flex-column mainform" #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="form-group pr-3 my-1 col-md-7">
      <input type="text" class="form-control cityinput" id="city" placeholder="Enter your city" ngModel name="city"
        required #city="ngModel">
      <small *ngIf="hintOn" class="hint1 text-muted d-flex justify-content-start p-1 pl-2 m-0">Please enter a valid
        city</small>
    </div>


    <div class="mt-1">
      <button type="submit" class="btn btn-danger" [disabled]="!f.valid">
        <div>
          Search
        </div>
      </button>
    </div>

  </form>

  <h5 *ngIf="!isLoading" class="Or">Or</h5>
  <div *ngIf="isLoading" class="spinner-border text-light" role="status">
  </div>

  <div>
    <button class="btn btn-danger mb-5 mt-2">
      <a (click)="detectLocation()">Detect my location</a>
    </button>

    <p *ngIf="Geofeedback" class="alert alert-danger">{{Geofeedback}}</p>
  </div>

  <!-- form end -->

</div>