
.container-fluid {
    height: 91vh;
    background: url("https://images.pexels.com/photos/1631899/pexels-photo-1631899.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500") no-repeat;
   background-size: cover; 
}

.titleTextContainer {
    color: white;
    background: url('https://images.pexels.com/photos/326279/pexels-photo-326279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat;
    -webkit-box-shadow: 10px 29px 43px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 29px 43px -4px rgba(0,0,0,0.75);
box-shadow: 10px 29px 43px -4px rgba(0,0,0,0.75);
border-radius: 20px 20px 20px 20px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border: 0px solid #000000;
opacity: 1;
background-size: cover; 

}


.Or {
    color: white;
}

a{
    color: white;
    text-decoration: none;
    
}


input.ng-invalid.ng-touched {
    border: 1px solid rgb(231, 148, 148);
    
}

.mainform {

    text-align: center;
    justify-content: center;
    width: 100%;

}

.lead {
    /* font-size: 0.5em; */

}