<!-- search area start -->
<div class="searchArea p-0 mx-0">
  <div class="d-flex flex-column flex-sm-row justify-content-center align-items-center align-items-sm-start">
    <div class="form-group m-0 searchInputContainer d-flex flex-column justify-content-center align-items-center">
      <input type="text" class="form-control form-control-sm col-8 col-sm-12 searchInput"
        placeholder="Search Restaurants by Location." [(ngModel)]='name'>
      <small *ngIf="hintOn" class="hint1 text-muted d-flex justify-content-start p-1 pl-2 m-0">Please enter a valid
        city</small>
    </div>
    <button (click)="searchResto()" class="btn btn-danger btn-sm ml-2 mb-2">Search</button>
  </div>
</div>

<!-- search section end -->

<!-- card section start -->

<div class="d-flex flex-row flex-wrap container">

  <div class="card d-flex justify-content-around p-3" style="max-width: 450px;" *ngFor="let resto of restaurants">
    <div class="row no-gutters">

      <div class="col-md-4">
        <a [routerLink]="['/details',resto.restaurant.id]">
          <img src="{{ resto.restaurant.thumb }}" class="card-img" alt="Image not available!">
        </a>
      </div>

      <div class=" col-md-8 headings">
        <div class="card-body py-0">

          <div class="d-flex flex-row justify-content-between">
            <p class="col-md-8 text-muted m-1 p-0 cardsubtitle">{{resto.restaurant.cuisines}}</p>
            <div class="col-md-4 d-flex flex-column justify-content-start align-items-end p-0">
              <span class="badge badge-success">{{resto.restaurant.user_rating.aggregate_rating}}</span>
              <span class="text-muted votes">{{resto.restaurant.user_rating.votes}} votes</span>
            </div>
          </div>

          <h4 class="card-title d-flex"><a [routerLink]="['/details',resto.restaurant.id]">
              {{resto.restaurant.name}}</a>
          </h4>
          <h6>{{resto.restaurant.location.locality_verbose}}</h6>

          <p class="card-text text-muted">{{resto.restaurant.location.address}}</p>
        </div>
      </div>

    </div>

    <div class="row no-gutters restodetails mt-3">
      <span class="text-muted col-5">FEATURED IN:</span>
      <span class="text-muted col-7">{{resto.restaurant.cuisines}}</span>
    </div>

    <div class="row no-gutters m-1 d-flex justify-content-start pt-3">


      <button type="button" class="col-3 btn btn-sm btn-success mr-3 "> <a
          [routerLink]="['/details',resto.restaurant.id]" class="Detailsbutton">
          View Details </a>
      </button>

    </div>

  </div>

  <!-- card section end -->