<div class="mainContainer d-flex flex-column flex-md-row">


  <div class="col-lg-8 Restodetails">

    <div class="card d-flex justify-content-center">
      <img [src]="restoDetails?.featured_image" class="card-img-top mainImg" alt="Image preview not available!">
      <div class="card-body d-flex flex-row justify-content-between">
        <div>
          <h3 class="card-title">{{restoDetails?.name}}</h3>
          <h6>{{restoDetails?.location.locality_verbose}}</h6>

          <p class="card-text text-muted">{{restoDetails?.location.address}}</p>
        </div>

        <h2 class="d-flex flex-column">
          <span class="badge badge-success">{{restoDetails?.user_rating.aggregate_rating}}/5</span>
          <small class="votes text-muted">{{restoDetails?.user_rating.votes}} votes</small>
        </h2>
      </div>

      <div class="px-5 py-2">
        <div class="row no-gutters restodetails mt-3">
          <span class="text-muted col-5 justify-content-start">CUISINE:</span>
          <span class="text-muted col-7 justify-content-start">{{restoDetails?.cuisines}}</span>
        </div>
        <hr>
        <div class="row no-gutters restodetails">
          <span class="text-muted col-5  d-flex justify-content-start">COST FOR TWO:</span>
          <span class="text-muted col-7  d-flex justify-content-start">{{restoDetails?.average_cost_for_two}}
            {{restoDetails?.currency}} - Cash and Cards accepted</span>
        </div>
        <hr>
        <div class="row no-gutters restodetails">
          <span class="text-muted col-5  d-flex justify-content-start">OPENING HOURS:</span>
          <span class="text-muted col-7  d-flex justify-content-start">Today 11am – 11pm</span>
        </div>
        <hr>
        <div class="row no-gutters restodetails">
          <span class="text-muted col-5  d-flex justify-content-start">PHONE:</span>
          <span class="text-muted col-7  d-flex justify-content-start">9988776655</span>
        </div>
        <hr>

        <div class="row no-gutters restodetails">
          <span class="text-muted col-5  d-flex justify-content-start">AVG-RATING:</span>
          <span class="text-muted col-7  d-flex justify-content-start">{{restoDetails?.user_rating.rating_text}}</span>
        </div>

      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <ul class="d-flex flex-row justify-content-around list-group list-group-horizontal-sm">
            <li class="list-group-item">
              <button class="btn btn-danger">
                <a [href]="[restoDetails?.menu_url]">View Menu</a>

              </button>
            </li>
            <li class="list-group-item">
              <button class="btn btn-success">
                <a [href]="[restoDetails?.photos_url]">View Photos</a>


              </button>
            </li>
            <li class="list-group-item">
              <button class="btn btn-danger">
                <a [href]="[restoDetails?.book_url]">Order Now</a>
              </button>
            </li>
          </ul>
        </li>
      </ul>

    </div>

  </div>



  <div class="col-lg-4 map">


    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]='lat' [longitude]='lng'>
      </agm-marker>
    </agm-map>

  </div>
</div>